<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Seja seu Comprimisso</h1>
    <p>Cadastre sua frase coach.</p>
    <p><a href="/coachs/listar">Client aqui para ver quem se cadastrou!</p></a>
    <p>{{ msg }}</p>


    <form action="/" method="post"> 
        {% csrf_token %} <!-- A proteção CSRF funciona verificando um segredo em cada requisição POST. Isso impede que um usuário malicioso possa simplesmente “reenviar” um form POST para o seu website e consiga que outro usuário logado involuntariamente submeta esse form. O usuário malicioso teria que conhecer o segredo, que é específico para cada usuário (através de um cookie).  -->
        <label for="">Nome: </label>
        <input name="nome" type="text" required>

        <label for="">Frase Inspiradora: </label>
        <textarea name="frase" id="" cols="30" rows="10" required></textarea>

        <label for="">Pessoa que motivou: </label>
        <input name="inspirador" type="text" required>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>