<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    <marquee><h1>Lista de suas frases perfeitas</h1></marquee>
    {% for item in listar_coachs %}
        <p><strong>Nome do Coach:</strong>{{item.nome}}</p> 
        <p><strong>Motive-se:</strong>{{item.frase}}</p> 
        <p><strong>Quem foi seu inspirador: </strong>{{item.inspirador}}</p>

        <hr>
    {% endfor %}    
</body>
</html>